html {
	background-color: cadetblue;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
}

li a {
	display: block;
	color: navy;
	text-align: center;
	padding: 14px;
	text-decoration: none;
	font-weight: bold;
	font-size: 24px;
}

li a:hover {
	color: blue;
}

.active {
	color: blue;
	text-decoration: underline;
	text-decoration-color: blue;
}

h1 {
	color: white;
	text-align: center;
	font-size: 48px;
}

p {
	color: white;
	text-align: center;
	font-size: 24px;
}

a {
	color: white;
	text-align: center;
	font-size: 48px;
}

a:hover {
	color: lightgray;
}
